.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    width: 280px;
    min-height: 250px;
    justify-content: space-between;
}

@media screen and (max-device-width: 360px) {
    .form {
        width: 100%;
    }
}

.form textarea {
    height: 180px;
}

.formContainer button {
    margin-top: 10px;
    width: 100px;
}

