.mainBlock {
    height: 100vh;
    background-color: #fc9e7f;
}

.text {
    width: 300px;
    background-color: antiquewhite;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: antiquewhite;
}